<link rel="stylesheet" type="text/css" href="css/reset.css"/>
<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>

<div class="login-wrap"> 
	<header class="clearfix"> 
		<a href="#">
			<img src="#" title="Fashion Zoo Animals – Fubiz™" alt="" width="75" height="75">
		</a> 
		<h3>Welcome to<br>Admin control panel</h3> 
	</header> 
	<div class="login-form-container"> 
		<form action="#" method="post" accept-charset="utf-8" id="formLogin"> 
			<input name="" placeholder="Your Username" autocomplete="off" type="text"> 					 
			<input name="" placeholder="Password" value="" autocomplete="off" type="password">  
			<button type="submit">Log In</button>
		</form> 
	</div>  
	<footer class="social"> 
		<h2>More sign-up options</h2> 
		<div>
			<a class="facebook-button" href="#">Facebook</a> 
			<a class="twitter-button" href="#">Twitter</a>
		<div>
	</footer> 
</div> 
